.signup-page{
    min-height:100vh;
    background:linear-gradient(rgba(48, 50, 50, 0.13));
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding-top:60px;
    color: black;
}

/* Title */

.signup-page h2{
    text-align:center;
    font-size:32px;
    color:#333;
    margin-bottom:25px;
}

/* Form */

.signup-page form{
    width:700px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

/* two input row */

.two-column{
    display:flex;
    gap:20px;
}

/* form group */

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
    width:100%;
}

label{
    font-weight:600;
    margin-bottom:5px;
}

input, textarea{
    padding:10px;
    border:1px solid black;
    border-radius:5px;
}

textarea{
    height:80px;
}

/* button */

button{
    width:100%;
    padding:12px;
    background:#2d89ef;
    border:none;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1c5db8;
}